<html>
<script type="text/javascript"
  src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
    <head>
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title> </title>
        {% endif %}
    </head>
    <body>
        <div>SAAC:
            <a href="{{ url_for('index') }}">Home</a>
            {%  if current_user.is_anonymous %}
                <a href="{{ url_for('login') }}">Login</a>
            {% else %}
                <a href="{{ url_for('request_list') }}">Help Others</a>
                <a href="{{ url_for('new_request') }}">New Request</a>
                <a href="{{ url_for('account', name=current_user.name) }}">Account</a>
                <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        {% block content %} {% endblock %}

    </body>
</html>