{% extends "base.html" %}

{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}


<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        <span style="font-size: medium">Course Prefix</span>
        <span style="font-size: small;color: darkgray">(e.g. PHYS)</span><br>
        {{ form.c_prefix(size=32) }}
        {% for error in form.c_prefix.errors %}
        <span style="color: red">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        <span style="font-size: medium">Course Number</span>
        <span style="font-size: small;color: darkgray">(Enter a 3 digit version, e.g. 171)</span><br>
        {{ form.c_number(size=32) }}
        {% for error in form.c_number.errors %}
        <span style="color: red">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        <span style="font-size: medium">Title</span><br>
        {{ form.title(size=58) }}
        {% for error in form.title.errors %}
        <span style="color: red">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        <span style="font-size: medium">Description</span><br>
        {{ form.description(rows='10',cols='90') }}
        {% for error in form.description.errors %}
        <span style="color: red">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.submit() }}
    </p>


</form>


{% endblock %}