{% extends "base.html" %}

{% block app_content %}
    <script>
    $(function(){
        $('.btn-default').popover({
            placement: 'bottom',
            title: 'Respond to Request',
            html:true,
            content: $('.hide').html()
        }).on('click', function(){
            // Gets id/index of opened accordion
            var open = $("div[aria-expanded='true']").attr('id');
            var id = open.slice(-1);

            //Submit funct.
            $('.messageForm').submit(function(e){
                e.preventDefault();
                var addr = $('#ts'+id).text();
                var text = $(this).find('input').val();

                var arr = [text,addr];
                console.log(arr);
                var msg = JSON.stringify(arr);

                var request = $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: "/_response_email",
                    dataType: "json",
                    data: msg,
                    success: function(response){
                        alert(response);
                    }
                 });
            });
        });
     });
    </script>

    <div class="panel-group" id="accordion">
        {% for request in requests %}
            {% if request.is_active %}
                <div class="panel panel-default">
                    <div class="panel-heading"> <span style="font-size: small" class="pull-right label label-primary">{{ request.expertise }}</span>
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ loop.index }}">
                                {{ request.title }}</a>
                        </h4>
                    </div>
                    <div id="collapse{{ loop.index }}" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p><span class="post-info">{{ request.author.name }}, From the {{ request.author.sport }} team.</span></p>
                            <p>{{ request.description }}</p>
                            <p>{{ request.timestamp }}</p>
                            <p><button type="button" id="send_message{{ loop.index }}" class="btn-default">Respond</button></p>
                            <div id="respond{{ loop.index }}" class="hide">
                                <form action="" id="popForm{{ loop.index }}" class="messageForm" method="post">
                                    <div class="mts" id="mts{{ loop.index }}">
                                        <label for="message">Message:</label>
                                        <input type="text" name="message" id="message{{ loop.index }}" class="form-control input-md message">
                                        <p id="ts{{ loop.index }}" class="hidden">{{ request.author.email }}</p>
                                        <button type="submit" class="btn btn-primary send">Send</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>








{#<h1>List of Requests</h1>#}
{#    <ul>#}
{#    {% for request in requests %}#}
{#        {% if request.is_active %}#}
{#        <li><a href="{{ url_for('indiv_request', id=request.id) }}">{{ request.title }}</a></li>#}
{#        {% endif %}#}
{#    {% endfor %}#}
{#    </ul>#}

{% endblock %}