{% extends "base.html" %}

{%  block app_content %}
    <script type="text/javascript">
//populate the checkboxes for requests
$(function () {
    $(document).ready(function () {
        $.getJSON($SCRIPT_ROOT + '/_user_requests', [], function (data) {
            $.each(data.requests, function (index, value) {
                var title = data.requests[index][1];
                var id = data.requests[index][0];
                var req = '<li class="list-group-item"><input class="current" type="checkbox" value=' + id + ' > ' + title + '</li>';
                $("#posts").append(req)
            })
        });
    });
});

$(function () {
    $("#resolve").click(function () {
        var arr = [];
        $(".current:checked").each(function () {
            var info = $(this).val();
            arr.push(info);
        });

        //checks to make sure that there are options selected
        //won't send ajax if no selections
        if (arr.length != 0){
            var selected = JSON.stringify(arr);
            console.log(selected);

            var request = $.ajax({
                type: "POST",
                contentType:"application/json; charset=utf-8",
                url:"/_removePost",
                dataType: "json",
                data: selected,
                success: function (response) {
                    console.log('success');
                    if (response.redirect){
                        window.location.href = response.redirect;
                    }
                }
            });

        }

    });
})


    </script>



    <h1>{{ user.name }}</h1>
    <div class="col-md-4">
        <h3>Your Areas of Expertise:</h3>

        <ul class="list-group">
            {% for field in user.fields %}
            <li class="list-group-item">{{ field }}</li>
            {% endfor %}
        </ul>

        <p>
            <a href="{{ url_for('expertise') }}"><button type="button">Edit Acount</button></a>
        </p>
    </div>


    <div class="col-md-6">


        <h3>Your Posts:</h3>
        <span style="font-size:small;color:darkgray">To remove one of your posts please check the box next to it and press the 'Resolve' button</span><br>

        <ul id="posts" class="list-group">
        </ul>

        <button type="button" id="resolve">Resolve</button>
    </div>


{#    {% for request in requests %}#}
{##}
{#    <table>#}
{#        <tr valign="top">#}
{##}
{#            <td>#}
{#                <a href="{{ url_for('indiv_request',id=request.id) }}"><b>{{ request.title }}</b></a><br>#}
{#            </td>#}
{#        </tr>#}
{#    </table>#}
{##}
{#    {% endfor %}#}

{% endblock %}